.dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .sidebar {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .sidebar h1 {
    margin-top: 0;
  }
  
  .user-info {
    margin-top: 20px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .menu ul li {
    margin-bottom: 10px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .menu ul li a:hover {
    background-color: #ddd;
  }
  
  .content {
    padding: 20px;
  }
  .user-info {
    display: flex;
    align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 30px; /* Adjust size of circle */
  height: 30px; /* Adjust size of circle */
  background-color: #ccc; /* Circle background color */
  border-radius: 50%; /* Create a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Adjust spacing between icon and name */
}

.icon {
  color: #625f5f; /* Icon color */
  font-size: 18px; /* Adjust icon size */
  margin-top: 1px; /* Adjust vertical alignment of icon */
}

.user-name {
  font-size: 18px; /* Adjust name font size */
}




  