.volunteer-details {
}

.volunteer-details h1 {
  margin-bottom: 20px;
}

.volunteer-details table {
  width: 100%;
  border-collapse: collapse;
}

.volunteer-details th,
.volunteer-details td {
  padding: 8px;
  border: 1px solid #ddd;
}

.volunteer-details th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.volunteer-details tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.volunteer-details tbody tr:hover {
  background-color: #ddd;
}
.accept-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.accept-btn:hover {
  background-color: #218838;
}

.decline-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.decline-btn:hover {
  background-color: #c82333;
}
