.history-container {
  margin: 1in; /* Updated to 1in margin on both sides */
  padding: 20px;
}

.heading {
  font-size: xx-large;
  margin-bottom: 1cm; /* Updated to 1cm */
  text-align: center;
  color: rgb(145, 18, 18);
  display: flex;
  align-items: center;
}

.heading img {
  width: 50px;
  margin-right: 5px;
}

.heading h1 {
  color: rgb(122, 40, 40);
}

.cards-container {
  display: flex;
  justify-content: space-between;
}

.card {
  flex: 1; /* Updated to take equal space */
  background-color: #f5f5f5;
  padding: 20px;
  margin-right: 1cm; /* Updated to 1cm margin between cards */
}

.card:last-child {
  margin-right: 0; /* Remove margin from the last card */
}

.card img {
  width: 100%;
  height: 200px;; /* This ensures that the aspect ratio of the images is maintained */
}

.text {
  text-align: justify;
  line-height: 1.8;
}

.read-more-btn {
  color: white;
  background-color: rgb(123, 31, 31);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  align-items: center;
}